body {
    font-family: 'Maven Pro', sans-serif;
    background-color: #222;

}

h1 {
    color: #bcd15c;
}

.parrafos h1:hover {
    color: #d7ef69;
}

.parrafos h1:hover:after {
    content: ' >';
}


a:hover {
    text-decoration: none;
    color: #2aa9cf;
}

#portada {
    background: url('../img/grass-wallpaper-green-spring-summer-bokeh.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.menu {
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 10px;
}

.navbar {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-top: 40px;
}

.navbar-default .navbar-nav > li > a {
    color: #bbb;
    font-size: 1.5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: white;
}

.dropdown-menu {
    background-color: #bcd15c;
    border: none;
}

.dropdown-menu > li > a {
    color: #222;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #eee;
}

img.logo {
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

img.logo:hover{
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

footer {
    background-color: #000;
    color: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 10px #bcd15c;
}

.portada-imagen {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;

}

.portada-imagen img {
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


.portada-imagen div {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(0,0,0,0.2);
}

.portada-imagen:hover div {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.portada-imagen div h4 {
    font-size: 1.6em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-shadow: 0 0 15px #000;
}

.portada-imagen:hover div > h4:after {
    content: ' >';
}

.parrafos {
    color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}



.titulo {
    top: 0;
    position: relative;
    font-size: 1.5em;
    padding: 15px;
    background-color: black;
    color: #eee;
    overflow: hidden;
}

.fondo-texto{
    background-color: rgba(0,0,0,0.7);
	color: white;
	padding-bottom: 20px;
}

.fondo-texto li{
	line-height: 2em;
}

.fondo-texto li ul li{
	list-style-type: none;
	margin-left:  -20px;
}

.fondo-texto li ul li:before{
	content: '- ';
}

.fondo-texto li{
	list-style-type: square;
}

.margen-texto{
	padding-left: 40px;
    padding-right: 40px;
}

.obras img {
    width: 300px;
}

input[type=text],
input[type=email],
textarea {
    border: solid 1px white;
    background-color: black;
}

input[type=submit] {
    color: #000000;
}