input[type=text],
input[type=email],
input[type=tel],
textarea {
  border: 0;
  background-color: darken($color-texto-blanco, 20%);
  padding: 6px 12px;
  width: 100%;
  color: $color-texto;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 1px;
  &:focus {
    outline: $color-enlaces solid 2px;
    background-color: $color-texto-blanco;
  }
}
label {
  font-weight: 400;
}
input[type=checkbox] {
  visibility: hidden;
}
input[type=checkbox] + label {
  background: url(../img/unchecked.png) no-repeat left center;
  background-size: contain;
  display: inline-block;
  padding: 0;
  padding-left: 30px;
}
input[type=checkbox]:checked + label {
  background: url(../img/checked.png) no-repeat left center;
  background-size: contain;
  display: inline-block;
  padding: 0;
  padding-left: 30px;
}
label.error {
  position: relative;
  background: $color-error;
  float: right;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 0 2px 2px 0;
  height: 20px;
  &:after {
    right: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 20px;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: $color-error;
    border-width: 10px;
    margin-left: -10px;
  }
}
.alert {
  display: none;
}
.alert-info {
  position: relative;
  background-color: $color-enlaces;
  color: $color-texto-blanco;
  border: none;
  font-size: 13px;
}
.alert-info:after {
  bottom: 100%;
  left: 22%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $color-enlaces;
  border-width: 7px;
  margin-left: -7px;
}
#map-canvas {
  width: 100%;
  height: 555px;
}
address .title {
  font-size: 22px;
  font-weight: 700;
}
