input[type=text],
input[type=email],
input[type=tel],
textarea {
    border: 1px solid $color-titulos;
    background-color: $color-texto;
    padding: 6px 12px;
    width: 100%;
    color: $color-texto-blanco;
}
label {
    font-weight: 400;
}
/*
input[type=checkbox] {
    display: none;
}
*/
input[type=checkbox] + label
{
    background: #999;
    display: inline-block;
    padding: 0;
}
input[type=checkbox]:checked + label
{
    background: #0080FF;
    display: inline-block;
    padding: 0;
}

label.error {
    color: red;
}