body {
    font-family: 'Maven Pro', Arial, sans-serif;
    background-color: $black;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

h1 {
    color: $color-titulos;
}
a, a:active, a:visited, a:focus {
    cursor: pointer;
    color: $color-enlaces;
    text-decoration: none;
    &:hover {
        color: lighten($color-enlaces, 20%);
        text-decoration: none;
    }
}
.w100 {
    width: 100%;
    margin: 10px 0;
    @media (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
.margin-img {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (max-width: $screen-sm-max) {
    margin-top: 0;
    margin-bottom: 20px;
  }
  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.pull-right-sm {
    @media (max-width: $screen-sm-max) {
        float: right;
    }
}
.container-fluid {
  @media (max-width: $screen-xs-max) {
    margin: 0;
    padding: 0;
  }
}

.container {
  @media (max-width: $screen-xs-max) {
    margin: 0;
  }
}

.square-separator {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
    background-color: $black;
    color: $color-texto-blanco;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 10px $color-titulos;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
    .line {
      @media (max-width: $screen-xs-max) {
        clear: both;
        display: block;
      }
    }
}
