body {
    font-family: 'Maven Pro', Arial, sans-serif;
    background-color: $color-texto;
    font-size: 16px;
}

section div.container {
  margin-top: 180px;
}

h1 {
    color: $color-titulos;
}
a {
    color: $color-enlaces;
    text-decoration: none;
    &:hover {
        color: lighten($color-enlaces, 20%);
        text-decoration: none;
    }
}
.w100 {
    width: 100%;
    @media (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
.pull-right-sm {
    @media (max-width: $screen-sm-max) {
        float: right;
    }
}
footer {
    background-color: #000;
    color: $color-texto-blanco;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 10px $color-titulos;
}
