body {
  font-family: 'Maven Pro', Arial, sans-serif;
  background-color: #222222; }

h1 {
  color: #bcd15c; }

a {
  color: #388ad1;
  text-decoration: none; }
  a:hover {
    color: #8bbbe4;
    text-decoration: none; }

.parrafos h1:hover {
  color: #d5e298; }
.parrafos h1:hover:after {
  content: ' >'; }

#portada {
  background: url("../img/grass-wallpaper-green-spring-summer-bokeh.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.menu {
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 10px; }

.navbar {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin-top: 40px; }

.navbar-default .navbar-nav > li > a {
  color: #ccc;
  font-size: 1.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .navbar-default .navbar-nav > li > a:focus {
    color: #ccc; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #eee; }
.navbar-default .navbar-nav > .open {
  background-color: #bcd15c;
  color: #222222;
  border-radius: 4px 4px 0 0; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #222222; }
.navbar-default .navbar-nav > li > .dropdown-menu {
  right: auto;
  left: 0;
  background-color: #ccdc84;
  border: none;
  border-radius: 0 4px 4px 4px; }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #222222;
    font-size: 1.2em; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
      color: #222222;
      text-decoration: none;
      background-color: #eee; }

.logo {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .logo:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }

footer {
  background-color: #000;
  color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 10px #bcd15c; }

.portada-imagen {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden; }
  .portada-imagen img {
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .portada-imagen div {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.2); }
    .portada-imagen div h4 {
      font-size: 1.6em;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      text-shadow: 0 0 5px #000;
      font-weight: 700;
      margin: 30px;
      vertical-align: middle; }
  .portada-imagen:hover div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%; }

.parrafos {
  color: #eee;
  padding-top: 20px;
  padding-bottom: 20px; }

.titulo {
  top: 0;
  position: relative;
  font-size: 1.5em;
  padding: 15px;
  background-color: black;
  color: #eee;
  overflow: hidden; }

.fondo-texto {
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  padding-bottom: 20px; }
  .fondo-texto li {
    line-height: 2em;
    list-style-type: square; }
    .fondo-texto li ul li {
      list-style-type: none;
      margin-left: -20px; }
      .fondo-texto li ul li:before {
        content: '- '; }

.margen-texto {
  padding-left: 40px;
  padding-right: 40px; }

input[type=text],
input[type=email],
textarea {
  border: none;
  background-color: #bcd15c;
  padding: 5px;
  color: #222222;
  width: 100%; }

input[type=submit], button {
  color: #222222;
  padding: 5px;
  background: #eee;
  border: none;
  margin: 10px 0; }

label {
  padding: 20px 0 5px 0; }

.obras .obra {
  height: 150px;
  width: 150px;
  background-size: 130px 130px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  margin-bottom: 40px;
  display: inline-block;
  cursor: pointer; }
  .obras .obra h3 {
    color: #eee;
    padding: 30px 20px;
    text-shadow: 3px 3px 3px black;
    text-align: center; }
  .obras .obra:hover {
    background-color: rgba(0, 0, 0, 0.7); }
.obras div.triangulo {
  font-size: 80px;
  color: #bcd15c;
  background: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  margin-top: 15px; }
  .obras div.triangulo:first-child {
    float: left; }
  .obras div.triangulo:last-child {
    float: right; }
  .obras div.triangulo:hover {
    color: #333; }
.obras .activo {
  background-color: #bcd15c; }
.obras .activo.obra:hover {
  background-color: #bcd15c; }

.obra1 {
  background-image: url("../img/autovia-A-66/thumbnail-foto-01.jpg"); }

.obra2 {
  background-image: url("../img/autovia-A-66/thumbnail-foto-02.jpg"); }

.obra3 {
  background-image: url("../img/autovia-A-66/thumbnail-foto-03.jpg"); }

.obra4 {
  background-image: url("../img/autovia-A-66/thumbnail-foto-04.jpg"); }

.obra5 {
  background-image: url("../img/autovia-A-66/thumbnail-foto-05.jpg"); }

.galeria div {
  margin: 5px;
  height: 100px;
  width: 100px;
  background-size: 100px 100px;
  display: inline-block;
  cursor: pointer; }
.galeria p {
  margin: 15px 0 25px 0; }

.mini {
  background-color: #bcd15c; }

.obragrande {
  height: 500px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 30px;
  overflow: hidden; }
  .obragrande img {
    width: 100%; }
  .obragrande div {
    position: absolute;
    left: 50%;
    top: 50%; }
    .obragrande div #bbb {
      display: none;
      position: relative;
      top: -40px;
      left: -40px;
      width: 80px;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
