{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto obras">

                <h1>Autovía A-50</h1>

                <p>Antes</p>

                <a class="fancybox" rel="gallery1" href="img/autovia-A-50/1-Antes.JPG" title="Westfield Waterfalls - Middletown CT Lower (Graham_CS)">
                    <img src="img/autovia-A-50/1-Antes.JPG" alt="" />
                </a>

                <p>Después</p>

                <a class="fancybox" rel="gallery1" href="img/autovia-A-50/1-Despues.JPG" title="Calm Before The Storm (One Shoe Photography Ltd.)">
                    <img src="img/autovia-A-50/1-Despues.JPG" alt="" />
                </a>

            </div>


        </div>
    </div>

</section>

{% endblock %}