{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto portada-imagen">
                <h1>Hidrosiembra</h1>
                <p>La hidrosiembra es una técnica de restauración del paisaje, creación de suelo y revegetación. Está indicada para la recuperación de grandes superficies de elevada pendiente, terrenos poco consolidados y espacios inaccesibles para maquinaria convencional, terrenos en su mayoría desmineralizados.</p>
                <p>Consiste en la proyección en el terreno a tratar mediante cañón, de una mezcla homogénea de agua, semilla, estabilizantes de suelos, fijadores, fertilizantes orgánicos e inorgánicos y mulch. Será el camión-hidrosembradora el encargado de la realización de esta técnica que consta de una cuba capaz de homogeneizar la mezcla en el interior mediante bastidores y una bomba que la proyecta a través de un cañón a gran presión al lugar de aplicación.</p>
                <p>La técnica de la hidrosiembra nace de sembrar precisamente aquellas zonas que no son accesibles a la siembra convencional, evitando labores en el terreno; así como un reparto homogéneo de la semilla y rapidez en la aplicación.</p>
                <p>El objetivo de la Hidrosiembras es el control y la prevención de la erosión del paisaje, ya que se consigue la estabilización del terreno favoreciendo la revegetación.</p>
                <p>La hidrosiembra germina a los pocos días siempre que las condiciones climatológicas no sean adversas. La humedad del terreno es fundamental, si no deberá realizarse en otoño (época idónea) o primavera.</p>
                <p>Cuando el talud tiene una pendiente fuerte se deben utilizar medios que revistan el talud y sujeten la mezcla y el suelo (mallas, redes,…)</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}