{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto portada-imagen">
                <h1>Recursos Técnicos y Humanos</h1>
                <p>HIDROSYPLANT está formado por un equipo altamente cualificado y con una amplia experiencia.</p>
                <p>Contamos con los mejores medios técnicos, lo que unido a la maquinaria más avanzada tecnológicamente y a los mejores productos del mercado hacen que nuestra empresa ofrezca la garantía de la máxima calidad en todos sus trabajos.</p>

            </div>
        </div>
    </div>

</section>

{% endblock %}