{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto portada-imagen">
                <h1>Sobre Nosotros</h1>
                <p>HIDROSYPLANT busca soluciones, a través de la investigación y desarrollo, encaminadas a lograr la integración de las obras dentro del paisaje, destacando especialmente en la técnica de la hidrosiembra.</p>
                <p>Esto nos ha permitido participar en importantes proyectos, en los que hemos conseguido proteger grandes superficies de los efectos de la erosión de una manera rápida.</p>
                <p>La hidrosiembra permite llegar a zonas difícilmente accesibles, logrando que la vegetación arraigue rápidamente estabilizando el terreno e integrándolo en el paisaje.</p>

            </div>
        </div>
    </div>

</section>

{% endblock %}