{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto obras">

                <h1>Trabajos realizados por Hidrosyplant:</h1>
                <ul>
                    <li><a href="autoviaA50.html">Autovía A-50</a></li>
                    <li><a href="autoviaA66.html">Autovía A-66</a></li>
                    <li><a href="autoviaA66.html">Autovía VA-30</a></li>
                    <li><a href="autoviaA66.html">Ave Río Duero Pinar Antequera</a></li>
                    <li><a href="autoviaA66.html">Castillo Ponferrada</a></li>
                    <li><a href="autoviaA66.html">ciudad rodrigo-fuentes de oroño</a></li>
                    <li><a href="autoviaA66.html">palanquinos</a></li>
                    <li><a href="autoviaA66.html">parque tecnologico</a></li>
                    <li><a href="autoviaA66.html">Payuelos</a></li>
                    <li><a href="autoviaA66.html">ronda este valladolid</a></li>
                    <li><a href="autoviaA66.html">villa del prado</a></li>
                </ul>

</section>

{% endblock %}