{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 obras">

                <div class="triangulo">◄</div>
                <div class="obra obra1 activo"><h3>Autovía A-66</h3></div>
                <div class="obra"><h3>Lorem Ipsum</h3></div>
                <div class="obra"><h3>Lorem Ipsum</h3></div>
                <div class="obra"><h3>Lorem Ipsum</h3></div>
                <div class="obra"><h3>Lorem Ipsum</h3></div>
                <div class="obra"><h3>Lorem Ipsum</h3></div>
                <div class="triangulo">►</div>

            </div>
        </div>
    </div>

</section>

<section class="container parrafos">

    <div class="row">
        <div class="col-lg-4 col-md-4 galeria">
            <h1>Autovía A-66</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet ullamcorper libero. Sed non vestibulum nisi. Etiam blandit semper nisl, vel eleifend tellus mattis vitae. Donec id viverra nisl, a bibendum libero.</p>
            <div class="mini obra1" data-foto="img/autovia-A-66/A-66-foto-01.JPG"></div>
            <div class="mini obra2" data-foto="img/autovia-A-66/A-66-foto-02.JPG"></div>
            <div class="mini obra3" data-foto="img/autovia-A-66/A-66-foto-03.JPG"></div>
            <div class="mini obra4" data-foto="img/autovia-A-66/A-66-foto-04.JPG"></div>
            <div class="mini obra5" data-foto="img/autovia-A-66/A-66-foto-05.JPG"></div>
        </div>
        <div class="col-lg-8 col-md-8 obragrande">
            <img id="fotogrande">
            <div>
                <div id="bbb"></div>
            </div>
        </div>
    </div>

</section>

{% endblock %}