{% extends 'templates/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'templates/menu.html' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 obras">

                <div class="triangulo">◄</div>
                <div class="obra obra1 activo"><h3>Autovía A-66</h3></div>
                <div class="obra obra2"><h3>Lorem Ipsum</h3></div>
                <div class="obra obra3"><h3>Lorem Ipsum</h3></div>
                <div class="obra obra4"><h3>Lorem Ipsum</h3></div>
                <div class="obra obra5"><h3>Lorem Ipsum</h3></div>
                <div class="obra obra3"><h3>Lorem Ipsum</h3></div>
                <div class="triangulo">►</div>

            </div>
        </div>
    </div>

</section>

<section class="container parrafos">

    <div class="row">
        <div class="col-lg-4 col-md-4 galeria">
            <h1>Autovía A-66</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet ullamcorper libero. Sed non vestibulum nisi. Etiam blandit semper nisl, vel eleifend tellus mattis vitae. Donec id viverra nisl, a bibendum libero.</p>
            <h2>Antes</h2>
            <div class="obra1" onclick="cambiar('img/autovia-A-66/A-66-foto-01.jpg');"></div>
            <div class="obra5" onclick="cambiar('img/autovia-A-66/A-66-foto-02.jpg');"></div>
            <div class="obra2" onclick="cambiar('img/autovia-A-66/A-66-foto-03.jpg');"></div>
            <h2>Después</h2>
            <div class="obra3" onclick="cambiar('img/autovia-A-66/A-66-foto-04.jpg');"></div>
            <div class="obra4" onclick="cambiar('img/autovia-A-66/A-66-foto-05.jpg');"></div>
        </div>
        <img src="/img/autovia-A-66/A-66-foto-01.JPG" id="fotogrande" class="col-lg-8 col-md-8 obragrande">
    </div>

</section>

{% endblock %}