{% extends 'layout/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto">

              <div class="row">
                <div class="col-lg-8 col-md-8">
                  <h1>Certificación de calidad y medio ambiente</h1>
                  <p>Seguimos teniendo como objetivo prioritario a nuestros clientes, ofreciendo la mayor calidad en todo el ciclo del trabajo que realizamos, lo cual se refleja en el resultado final. Este compromiso sigue respaldado hoy en día, y fruto de este empeño fue la obtención en el año 2000 de la certificación del sistema de gestión de la calidad ISO 9001:2008 y del sistema de gestión medioambiental ISO 14001:2004.</p>
                  <p>La política de calidad y medioambiente es cumplir nuestros objetivos y los de nuestros clientes, garantizando el cumplimiento de la legislación vigente, la calidad de nuestros materiales y el comportamiento medioambiental.</p>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/iso9001.png">
                  <p><i class="fa fa-2x fa-file-pdf-o"></i> <a href="img/ISO-9001-2008-Vto-Sept2017.pdf"><i class="fa fa-2x fa-cloud-download"></i></a></p>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/iso14001.png">
                  <p><i class="fa fa-2x fa-file-pdf-o"></i> <a href="img/ISO-14001-2004-Vto-Sept2017.pdf"><i class="fa fa-2x fa-cloud-download"></i></a></p>
                </div>
              </div>

            </div>
        </div>
    </div>
</section>

<section class="container parrafos">

  <h1>Política de calidad y medio ambiente</h1>

  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">

      <p>HIDROSYPLANT ha implantado un <strong>sistema de gestión de la calidad y del medio ambiente</strong> para dar respuesta a dos de sus constantes inquietudes:</p>
      <ul>
        <li>La <strong>calidad</strong> de los servicios que presta a sus clientes.</li>
        <li>El respeto por el <strong>medio ambiente</strong> con el que interactúa en el desarrollo de sus actividades de jardinería y restauración paisajística.</li>
      </ul>
      <img class="w100" src="img/ParqueTecnologico/parque_tecnologico_001.jpg">

    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">

      <p>Para contribuir al desarrollo de los principios mencionados es fundamental el compromiso de todos los que conformamos la empresa, por ello la Dirección respalda el contenido de esta política comprometiéndose a proporcionar los recursos necesarios.</p>
      <p>El <strong>sistema de calidad y medio ambiente</strong> se apoya en los siguientes principios:</p>
      <ul>
        <li>La calidad de los trabajos y el respeto por el medio ambiente es fundamental para lograr la fidelidad de los clientes tanto en las obras como en los mantenimientos.</li>
        <li>La mejora continua es la base para ofrecer servicios de mayor calidad y menor coste, aumentando de este modo la competitividad de la empresa.</li>
        <li>El cumplimiento de todos los requisitos aplicables a la empresa es prioritario en todos los ámbitos.</li>
        <li>Nuestro comportamiento medioambiental debe ser ejemplar en todas nuestras actuaciones, siempre tan ligadas a la naturaleza.
          <div class="hidrosiembra">

          <ul>
            <li>Empleo de técnicas y productos respetuosos con el medio ambiente.</li>
            <li>Reducción de los residuos, emisiones y vertidos tanto en cantidad como en peligrosidad.</li>
            <li>Reutilización de aquellos subproductos que sea factible.(Sacos de semillas, envases de plantas, etc...)</li>
            <li>Reciclado de aquellos subproductos que lo permitan, como es el caso de los restos de podas.</li>
            <li>Adecuada gestión de los residuos resultantes (fitosanitarios, aceites, etc...)</li>
          </ul>
        </div>
        </li>
      </ul>

    </div>
  </div>
</section>



{% endblock %}
