{% extends 'layout/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'layout/menu.html' %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto portada-imagen">
                <h1>Calidad y Medio Ambiente</h1>
                <p>
                Desde nuestros comienzos en el año 1994, hemos tenido como objetivo fundamental la satisfacción del cliente. Fruto de este empeño fue la certificación en el año 2000 de ISO 9001:2000 e ISO 14001:1996.
                </p>
                <p>
                Seguimos teniendo como objetivo prioritario a nuestros clientes, ofreciendo la mayor calidad en todo el ciclo del trabajo que realizamos, lo cual se refleja en el resultado final. Este compromiso sigue  respaldado hoy en día, por la certificación del sistema de gestión de la calidad ISO 9001:2008 y del sistema de gestión medioambiental ISO 14001:2004.
                </p>
                <p>
                La política de calidad y medioambiente es cumplir nuestros objetivos y los de nuestros clientes, garantizando el cumplimiento de la legislación vigente, la calidad de nuestros materiales y el comportamiento medioambiental.
                </p>
                <ul>
                    <li><a href="politica-calidad.html">Política de Calidad y Medio Ambiente</a></li>
                    <li><a href="img/ISO-9001-2008-Vto-Sept2017.pdf">ISO XX</a></li>
                    <li><a href="img/ISO-14001-2004-Vto-Sept2017.pdf">ISO YY</a></li>
                </ul>

            </div>
        </div>
    </div>

</section>

{% endblock %}