{% extends 'layout/layout.html' %}

{% block title %}Construcción de parques y jardines{% endblock %}

{% block content %}

<section id="portada" class="background">

    <div class="container margen-texto fondo-texto">
        <div class="row">
          <div class="col-lg-5 col-md-5">
              <h1>Construcción de parques y jardines</h1>
              <p>
                Nuestro trabajo se inicia con el asesoramiento al cliente proponiendo las soluciones más adecuadas.
              </p>
              <p>
                Nuestra amplia experiencia, un equipo altamente cualificado y nuestro compromiso con el entorno nos permiten ofrecer pautas de
                actuación a nuestros clientes en la creación del proyecto pero también en la posterior construcción.
              </p>
          </div>
          <div class="col-lg-7 col-md-7">
            <img class="img-responsive" src="img/parques-jardines-2.jpg">
          </div>
        </div>
    </div>

</section>

<section class="container parrafos">

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">

            <p class="titulo-flecha">Aplicamos principios de sostenibilidad</p>
            <ul>
              <li>El asesoramiento, reduciendo el mantenimiento posterior tanto en el consumo de recursos como en las propias
                tareas de mantenimiento, sin disminuir el nivel de calidad.
              </li>
              <li>
                En la ejecución, seleccionando materiales, minimizando el impacto de la actividad, optimizando recursos naturales
                y llevando a cabo una ejecución respetuosa con el entorno.
              </li>
            </ul>

            <br/>

            <p>Algunos de los ejemplos de construcción de parques y jardines:</p>
            <ul>
              <li>Ajardinamiento y red de riego en parque Solidaridad. Fuenlabrada (Madrid)</li>
              <li>Ajardinamiento y red de riego en parque Arroyo el Soto. Móstoles (Madrid)</li>
              <li>Ajardinamiento y red de riego en urbanización Valdelasfuentes. Alcobendas (Madrid)</li>
              <li>Ajardinamiento de Villa del Prado sector 18, fase C-2. Valladolid</li>
              <li>Ajardinamiento y red de riego del Recinto III del Parque Tecnológico de Boecillo. Valladolid.</li>
            </ul>

            <a href="trabajos-parques-jardines.html"><p class="boton-seccion">Ver obras de parques y jardines ></p></a>

        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">

          <img class="img-responsive margin-bottom" src="img/parques-jardines-1.jpg">

        </div>
    </div>

</section>

{% endblock %}
