{% extends 'layout/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    {% include 'layout/menu.html' %}

    <div class="container">
        <div class="row">
            <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 portada-imagen">
                <img src="img/portada-1.jpg">
                <div class="titulo">
                    <h4>Construcción y mantenimiento de parques y jardines</h4>
                </div>
            </div>
            </a>
            <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 portada-imagen">
                <img src="img/portada-2.jpg">
                <div class="titulo">
                    <h4>Restauración paisajística de grandes obras públicas y privadas</h4>
                </div>
            </div>
            </a>
        </div>
    </div>

</section>

<section class="container parrafos">

    <div class="row">

        <div class="col-lg-4 col-md-4">
            <a href="sobre-nosotros.html"><h1>Sobre nosotros</h1></a>
            <p>HIDROSYPLANT busca soluciones, a través de la investigación y desarrollo, encaminadas a
                lograr la integración de las obras dentro del paisaje, destacando especialmente en la técnica de la hidrosiembra. Esto
                nos ha permitido participar en importantes proyectos, en los que hemos conseguido proteger grandes superficies de
                los efectos de la erosión de una manera rápida. La hidrosiembra permite llegar a zonas difícilmente accesibles,
                logrando que la vegetación arraigue rápidamente estabilizando el terreno e integrándolo en el paisaje.
            </p>
            <a href="sobre-nosotros.html"><p class="boton-seccion">Ver más ></p></a>
        </div>
        <div class="col-lg-4 col-md-4">
            <a href="recursos.html"><h1>Recursos técnicos y humanos</h1></a>
            <p>HIDROSYPLANT está formado por un equipo altamente cualificado y con una amplia experiencia. Contamos con los mejores
                medios técnicos, lo que unido a la maquinaria más avanzada tecnológicamente y a los mejores productos del mercado
                hacen que nuestra empresa ofrezca la garantía de la máxima calidad en todos sus trabajos.
            </p>
            <a href="recursos.html"><p class="boton-seccion">Ver más ></p></a>
        </div>
        <div class="col-lg-4 col-md-4">
            <a href="calidad-medio-ambiente.html"><h1>Calidad y medio ambiente</h1></a>
            <p>Nuestro objetivo es ofrecer la mayor calidad y su reflejo está en el resultado final.
                Este compromiso con el cliente es respaldado por la certificación del sistema de gestión de la calidad
                ISO 9001:2008 y del sistema de gestión medioambiental ISO 14001:2004.
                La política de calidad y medioambiente es cumplir nuestros objetivos y los de nuestros clientes, garantizando
                el cumplimiento de la legislación vigente, la calidad de nuestros materiales y el comportamiento medioambiental.
            </p>
            <a href="calidad-medio-ambiente.html"><p class="boton-seccion">Ver más ></p></a>
        </div>

    </div>

</section>

{% endblock %}