{% extends 'layout/layout.html' %}

{% block title %}Hidrosiembras y Plantaciones{% endblock %}

{% block content %}

<section id="portada-ppal" class="ppal">
  <div class="diapo1">
    <h4 class="texto-diapo texto-diapo1">Construcción de<br>parques y jardines</h4>
  </div>
  <div class="diapo2">
    <h4 class="texto-diapo texto-diapo2">Restauración<br>paisajística</h4>
  </div>
  <div class="diapo3">
    <h4 class="texto-diapo texto-diapo3">Mantenimientos</h4>
  </div>
</section>

<section class="mas-arrow">
  <p><i class="fa fa-chevron-down fa-3x"></i></p>
</section>

<section class="container parrafos">

    <div class="row">

        <article class="col-lg-4 col-md-4">
            <a href="sobre-nosotros.html">
                <object class="area-icon" data="img/green-user3.svg" type="image/svg+xml">
                  <img src="img/green-user3-256.png">
                </object>
                <h1>Sobre nosotros</h1>
            </a>
            <p>HIDROSYPLANT busca soluciones, a través de la investigación y desarrollo, encaminadas a
                lograr la <strong>integración de las obras dentro del paisaje</strong>, destacando especialmente en la técnica de la hidrosiembra. Esto
                nos ha permitido participar en importantes proyectos, en los que hemos conseguido <strong>proteger grandes superficies de
                los efectos de la erosión</strong> de una manera rápida. La <strong>hidrosiembra</strong> permite llegar a zonas difícilmente accesibles,
                logrando que la vegetación arraigue rápidamente estabilizando el terreno e integrándolo en el paisaje.
            </p>
            <a href="sobre-nosotros.html"><p class="boton-seccion">Ver más ></p></a>
        </article>
        <article class="col-lg-4 col-md-4">
            <a href="recursos.html">
                <object class="area-icon" data="img/green-wheel.svg" type="image/svg+xml">
                  <img src="img/green-wheel-256.png">
                </object>
                <h1>Recursos técnicos y humanos</h1>
            </a>
            <p>HIDROSYPLANT está formado por un <strong>equipo altamente cualificado</strong> y con una amplia experiencia. Contamos con los mejores
                medios técnicos, lo que unido a la <strong>maquinaria más avanzada tecnológicamente</strong> y a los <strong>mejores productos del mercado</strong>
                hacen que nuestra empresa ofrezca la garantía de la máxima calidad en todos sus trabajos.
            </p>
            <a href="recursos.html"><p class="boton-seccion">Ver más ></p></a>
        </article>
        <article class="col-lg-4 col-md-4">
            <a href="calidad-medio-ambiente.html">
                <object class="area-icon" data="img/green-leaf3.svg" type="image/svg+xml">
                  <img src="img/green-leaf3-256.png">
                </object>
                <h1>Calidad y medio ambiente</h1>
            </a>
            <p>Nuestro objetivo es ofrecer la mayor calidad y su reflejo está en el resultado final.
                Este compromiso con el cliente es respaldado por la certificación del <strong>sistema de gestión de la calidad
                ISO 9001:2008</strong> y del <strong>sistema de gestión medioambiental ISO 14001:2004</strong>.
                La política de calidad y medioambiente es cumplir nuestros objetivos y los de nuestros clientes, garantizando
                el cumplimiento de la legislación vigente, la calidad de nuestros materiales y el comportamiento medioambiental.
            </p>
            <a href="calidad-medio-ambiente.html"><p class="boton-seccion">Ver más ></p></a>
        </article>

    </div>

</section>

{% endblock %}
