{% extends 'layout/layout.html' %}

{% block title %}Hidrosiembras y Plantaciones{% endblock %}

{% block content %}

<section id="portada-ppal" class="ppal">
  <div class="diapo diapo1" data-order="0">
    <div class="texto-diapo container">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 col-lg-offset-0 col-lg-4">
        <h4>Construcción de parques y jardines</h4>
        <ul>
          <li>Minimizamos el impacto de la actividad, optimizando los recursos naturales.</li>
          <li>Llevamos a cabo siempre una ejecución respetuosa con el entorno.</li>
        </ul>
        <a href="construccion-parques-jardines.html"><p class="boton-seccion">Ver más ></p></a>
      </div>
    </div>
  </div>
  <div class="diapo diapo2" data-order="1">
    <div class="texto-diapo container">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 col-lg-offset-0 col-lg-4">
        <h4>Restauración paisajística</h4>
        <ul>
          <li>Recuperación de la cubierta vegetal, corrección de la erosión superficial e integración paisajística.</li>
          <li>Instalación de mallas y mantas, trabajos de conservación y estabilización de superficies.</li>
          <li>Damos prioridad a las plantas autóctonas.</li>
        </ul>
        <a href="restauracion-paisajistica.html"><p class="boton-seccion">Ver más ></p></a>
      </div>
    </div>
  </div>
  <div class="diapo diapo3" data-order="2">
    <div class="texto-diapo container">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 col-lg-offset-0 col-lg-4">
        <h4>Mantenimientos</h4>
        <ul>
          <li>Ejecutamos labores de mantenimiento tanto en parques y jardines como en grandes obras.</li>
          <li>Somos cuidadosos con el paisaje, el suelo, los cursos de los ríos y la flora y fauna.</li>
          <li>Recogida, limpieza y transporte de residuos.</li>
        </ul>
        <a href="mantenimientos.html"><p class="boton-seccion">Ver más ></p></a>
      </div>
    </div>
  </div>
</section>

<div class="mas-arrow">
  <p><i class="fa fa-chevron-down fa-3x"></i></p>
</div>

<div class="dots">
  <p><i class="fa fa-circle fa-1x"></i></p>
  <p><i class="fa fa-circle fa-1x"></i></p>
  <p><i class="fa fa-circle fa-1x"></i></p>
</div>

<section class="container parrafos">

    <div class="row">

        <article class="col-lg-4 col-md-4">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-12 col-lg-12">
              <object class="area-icon" data="img/green-user3.svg" type="image/svg+xml">
                <img src="img/green-user3-256.png">
              </object>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-12 col-lg-12">
              <h1>Sobre nosotros</h1>
              <p>HIDROSYPLANT busca soluciones, a través de la investigación y desarrollo, encaminadas a
                  lograr la <strong>integración de las obras dentro del paisaje</strong>, destacando especialmente en la técnica de la hidrosiembra. Esto
                  nos ha permitido participar en importantes proyectos, en los que hemos conseguido <strong>proteger grandes superficies de
                  los efectos de la erosión</strong> de una manera rápida. La <strong>hidrosiembra</strong> permite llegar a zonas difícilmente accesibles,
                  logrando que la vegetación arraigue rápidamente estabilizando el terreno e integrándolo en el paisaje.
              </p>
              <a href="sobre-nosotros.html"><p class="boton-seccion">Ver más ></p></a>
            </div>
          </div>
        </article>
      
        <article class="col-lg-4 col-md-4">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-12 col-lg-12">
              <object class="area-icon" data="img/green-wheel.svg" type="image/svg+xml">
                <img src="img/green-wheel-256.png">
              </object>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-12 col-lg-12">
              <h1>Recursos técnicos y humanos</h1>
              <p>HIDROSYPLANT está formado por un <strong>equipo altamente cualificado</strong> y con una amplia experiencia. Contamos con los mejores
                medios técnicos, lo que unido a la <strong>maquinaria más avanzada tecnológicamente</strong> y a los <strong>mejores productos del mercado</strong>
                hacen que nuestra empresa ofrezca la garantía de la máxima calidad en todos sus trabajos.
              </p>
              <a href="recursos.html"><p class="boton-seccion">Ver más ></p></a>
            </div>
          </div>
        </article>
      
        <article class="col-lg-4 col-md-4">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-12 col-lg-12">          
              <object class="area-icon" data="img/green-leaf3.svg" type="image/svg+xml">
                <img src="img/green-leaf3-256.png">
              </object>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-12 col-lg-12">
              <h1>Calidad y medio ambiente</h1>
              <p>Nuestro objetivo es ofrecer la mayor calidad y su reflejo está en el resultado final.
                  Este compromiso con el cliente es respaldado por la certificación del <strong>sistema de gestión de la calidad
                  ISO 9001:2008</strong> y del <strong>sistema de gestión medioambiental ISO 14001:2004</strong>.
                  La política de calidad y medioambiente es cumplir nuestros objetivos y los de nuestros clientes, garantizando
                  el cumplimiento de la legislación vigente, la calidad de nuestros materiales y el comportamiento medioambiental.
              </p>
              <a href="calidad-medio-ambiente.html"><p class="boton-seccion">Ver más ></p></a>
            </div>
          </div>
        </article>

    </div>

</section>

{% endblock %}
