<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HIDROSYPLANT &squf; Hidrosiembras y Plantaciones</title>

    <!-- Descripción. Esto es lo que saldrá bajo el título en la página de resultados de Google -->
    <meta name="description" content="Hidrosyplant es una empresa especializada en la técnica de la hidrosiembra, aplicada a la restauración de grandes superficies, y a la jardinería urbana."/>

    <!-- Hoja de estilos principal -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Fuentes -->
    <link href="http://fonts.googleapis.com/css?family=Maven+Pro:400,700" rel="stylesheet">

    <script src="/js/pruebaGaleria2.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.png" type="image/png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9] -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>

    {% block content %}{% endblock %}

<footer>

    <div class="container text-center">
        <p><strong>Hidrosiembras y Plantaciones S.L.U.</strong> &copy; <?php echo date('Y'); ?> &nbsp;&squf;&nbsp; <a href="#">Política de privacidad y condiciones de uso</a> &nbsp;&squf;&nbsp; <a href="http://makeando.net">makeando.net</a></a></p>
        <p><strong><a href="mailto:hyp@hidrosyplant.es">hyp@hidrosyplant.es</a> &nbsp;&squf;&nbsp; <a href="tel:(+34) 983 528 841">(+34) 983 528 841</a></strong></p>
    </div>

</footer>

<script src="js/zapp.js"></script>
<script>
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
</body>
</html>