{% extends 'layout/layout.html' %}

{% block title %}Mantenimientos{% endblock %}

{% block content %}

<section id="portada" class="background">

  <div class="container margen-texto fondo-texto">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <h1>Mantenimientos</h1>
        <p>
          Somos especialistas en mantenimiento de grandes obras y jardinería urbana, abarcando y dando soluciones a todas las etapas
          del mantenimiento tanto en parques y jardines como obras (autovías, AVE, presas, canales…).
        </p>
        <p>
          Para HIDROSYPLANT es prioritario dar un servicio profesional pero también ser respetuoso con el medio, para lo cual contamos
          con los medios humanos y técnicos necesarios. Contamos con un equipo humano con gran experiencia y con un  alto grado de
          formación, así como la maquinaria necesaria y más innovadora del mercado.
        </p>
      </div>
      <div class="col-lg-7 col-md-7">
        <img class="img-responsive" src="img/mantenimientos-1.jpg">
      </div>
    </div>
  </div>

</section>

<section class="container parrafos">

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="img-responsive" src="img/mantenimientos-2.jpg">
      <a href="trabajos-mantenimientos.html"><p class="boton-seccion">Ver obras de mantenimientos ></p></a>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">

      <p>
        Somos conscientes de la importante repercusión que las labores de mantenimiento tienen en el paisaje, el suelo, los cursos
        de los ríos, flora y fauna,…  por este motivo aplicamos criterios de sostenibilidad reduciendo en gran medida la incidencia
        ambiental negativa.
      </p>
      <p>
        En el trabajo de mantenimiento llevamos a cabo un estricto control técnico tanto de las labores como de la evolución, siendo
        en todo momento conscientes de la importancia de ser respetuosos con el medio ambiente, de ahí la recogida, limpieza y
        transporte a vertedero autorizado de todos los restos generados. Nuestro sistema de gestión y recogida de residuos diferencia
        entre los restos de poda y siega que son llevados a plantas de transformación para generación de compost, y los residuos
        no orgánicos como pueden ser  los fitosanitarios que son recogidos por un gestor autorizado.
      </p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="img/mantenimientos-3.jpg">
    </div>
  </div>

</section>

{% endblock %}
