{% extends 'layout/layout.html' %}

{% block content %}

<section class="container-fluid" id="portada">

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 margen-texto fondo-texto portada-imagen">
                <h1>Política de Calidad y Medio Ambiente</h1>

                <p>HIDROSIEMBRAS Y PLANTACIONES ha implantado un Sistema de Gestión de la Calidad y del Medio Ambiente para dar respuesta a dos de sus constantes inquietudes:</p>
                <ul>
                    <li>La Calidad de los servicios que presta a sus clientes.</li>
                    <li>Y el respeto por el Medio Ambiente con el que interactúa en el desarrollo de sus actividades de jardinería y restauración paisajística.</li>
                </ul>
                <p>El Sistema de Calidad y Medio Ambiente se apoya en los siguientes principios:</p>
                <ul>
                    <li>La calidad de los trabajos y el respeto por el medio ambiente es fundamental para lograr la fidelidad de los clientes tanto en las obras como en los mantenimientos.</li>
                    <li>La mejora continua es la base para ofrecer servicios de mayor calidad y menor coste, aumentando de este modo la competitividad de la empresa.</li>
                    <li>El cumplimiento de todos los requisitos aplicables a la empresa es prioritario en todos los ámbitos.</li>
                    <li>Nuestro comportamiento medioambiental debe ser ejemplar en todas nuestras actuaciones, siempre tan ligadas a la naturaleza.
                        <ul>
                            <li>Empleo de técnicas y productos respetuosos con el medio ambiente.</li>
                            <li>Reducción de los residuos, emisiones y vertidos tanto en cantidad como en peligrosidad.</li>
                            <li>Reutilización de aquellos subproductos que sea factible.(Sacos de semillas, envases de plantas, etc...)</li>
                            <li>Reciclado de aquellos subproductos que lo permitan, como es el caso de los restos de podas.</li>
                            <li>Adecuada gestión de los residuos resultantes (fitosanitarios, aceites, etc...)</li>
                        </ul>
                    </li>
                </ul>
                <p>Para contribuir al desarrollo de los principios mencionados es fundamental el compromiso de todos los que conformamos la empresa, por ello la Dirección respalda el contenido de esta política comprometiéndose a proporcionar los recursos necesarios.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}
