{% extends 'layout/layout.html' %}

{% block content %}

<section id="portada" class="background">

  <div class="container margen-texto fondo-texto">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>Recursos técnicos y humanos</h1>
        <p>HIDROSYPLANT está formado por un equipo altamente cualificado y con una amplia experiencia.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="w100" src="img/recursos-tecnicos-humanos.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>Contamos con los mejores medios técnicos, lo que unido a la maquinaria más avanzada tecnológicamente y a los mejores productos del mercado hacen que nuestra empresa ofrezca la garantía de la máxima calidad en todos sus trabajos.</p>
        <p>HIDROSYPLANT está formado por profesionales con una larga experiencia tanto en la restauración paisajística de obra pública y obra privada, como en la construcción y mantenimiento de parques y jardines, dando soluciones integrales.</p>
        <p>La formación continua de nuestra plantilla tanto en aspectos técnicos como en la prevención de riesgos nos permiten tener personal con un alto nivel de formación lo cual aporta al trabajo un alto valor añadido. A ello se une el estudio constante del mercado para estar al día en nuevos productos y poderlos ofrecer y suministrar a nuestros clientes.</p>
        <p>Somos conocedores del impacto que nuestra actividad tiene en el entorno lo cual nos lleva a invertir en formación, tecnología, suministros, etc., contribuyendo de manera activa en la conservación del paisaje y posicionándonos claramente en el mercado como garantía del trabajo bien hecho.</p>
      </div>
    </div>
  </div>

</section>

<section class="container parrafos">

  <h1>Maquinaria</h1>
  <p>Fruto del estudio de mercado y del asesoramiento son los medios técnicos que ofrece nuestra empresa. Disponemos de la <strong>maquinaria</strong> más innovadora y más avanzada tecnológicamente lo que nos permite ofrecer una amplia variedad de soluciones en trabajos como estabilización y protección de taludes, hidrosiembra, mantenimiento de zonas verdes, sistemas de riego, etc.</p>

  <div class="row galeria-row">
    <div class="col-lg-4 col-md-4 galeria">
      {% for item in maquinaria %}
      <div class="maquinaria mini-div">
        <img src="{{ item.thumbnail }}" class="mini-img maquinaria" data-foto="{{ item.img }}" data-index="{{ item.index }}">
        <div class="mini-maximize"></div>
      </div>
      {% endfor %}
    </div>
    <div class="col-lg-8 col-md-8 fotogrande-div">
      <img src="img/Maquinaria/maquinaria_022.jpg" class="fotogrande-img" data-index="0">
      <div>
        <div class="loading"></div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
