{% extends 'layout/layout.html' %}

{% block title %}Sobre nosotros{% endblock %}

{% block content %}

<section id="portada" class="background">

    <div class="container margen-texto fondo-texto">
        <div class="row">
          <div class="col-lg-5 col-md-5">
              <h1>Restauración paisajística</h1>
          </div>
        </div>
    </div>

</section>

<section class="container parrafos">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">

          <p>
            Obtenemos los mejores resultados en la restauración paisajística fruto de un estudio pormenorizado del entorno y la
            puesta en práctica de las técnicas más avanzadas de jardinería y el constante control en la calidad.
            En restauración paisajística es fundamental conocer las especies de la zona y las que mejor se adaptan a la climatología
            y a las características edafológicas del lugar en donde van a desarrollar su ciclo vital para lograr un perfecto desarrollo
            y conseguir una restauración paisajística de calidad.
          </p>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

          <p>
            Nuestras actuaciones se basan en la integración, conservación y aprovechamiento de los recursos naturales. Adoptando
            medida relacionadas con la recuperación de la cubierta vegetal, la corrección de la erosión superficial o la integración
            paisajística mediante plantaciones, siembras e Hidrosiembras, instalación de mallas y mantas, trabajos de conservación o
            estabilización de superficies. Damos prioridad a la planta autóctona, consiguiendo potenciar los recursos naturales de
            la zona y creando biodiversidad al utilizar especies de la zona tanto en árboles como en arbustos.
          </p>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

          <p>
            En la Hidrosiembra nuestra garantía es la experiencia, más de 20 años realizando Hidrosiembras, protegiendo el medioambiente
            y recuperando espacios verdes. Realizamos un estudio pormenorizado de la semilla que mejor se adapta, del terreno en el que
            se va a realizar la hidrosiembra usando si es preciso redes orgánicas. El proceso de hidrosembrar es realizado por
            hidrosembradoras que realizan todo el proceso, tanto la mezcla como la proyección a presión. Incorporamos las nuevas
            tecnologías con las medidas en la corrección del impacto medioambiental en las obras: autovías, carreteras, líneas de alta
            velocidad, etc. y conseguimos reducir mediante el uso y el desarrollo de técnicas específicas, el impacto ambiental que se
            deriva de las grandes infraestructuras de la obra civil o aquellos lugares que están expuestos a una erosión constante.
            Nos avala nuestra experiencia en obras como:
          </p>

        </div>
    </div>

</section>

{% endblock %}
