{% extends 'layout/layout.html' %}

{% block title %}Sobre nosotros{% endblock %}

{% block content %}

<section id="portada" class="background">

    <div class="container margen-texto fondo-texto">
        <div class="row">
          <div class="col-lg-5 col-md-5">
              <h1>Sobre nosotros</h1>
              <p>HIDROSYPLANT se constituyó en 1994 como empresa dedicada a la jardinería y restauración medioambiental en grandes obras como autopistas, líneas de ferrocarril, canales, etc., así como al diseño, ejecución y mantenimiento de parques y jardines.</p>
              <p>La experiencia, el compromiso y el estudio pormenorizado de cada obra hacen que HIDROSYPLANT se posicione claramente en el mercado ofreciendo a sus clientes como garantía el trabajo bien hecho.</p>
          </div>
          <div class="col-lg-7 col-md-7">
              <img class="w100" src="img/quienes-somos.jpg">
          </div>
        </div>
    </div>

</section>

<section class="container parrafos">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">

            <p>Nuestra presencia en <strong>obras de infraestructuras de relevancia</strong> como la autovía A-1 (autovía del Norte), autovía A-6 (autovía del Noroeste), autovía M-45 (circunvalación de Madrid), autovía M-50 (circunvalación de Madrid), autovía A-50 (autovía Ávila–Salamanca), ronda exterior de Valladolid, diversos subtramos del corredor norte-noroeste de alta velocidad, etc., o la <strong>ejecución y mantenimiento de parques</strong> como el Parque Tecnológico de Boecillo (Valladolid), San Sebastián de los Reyes (Madrid), Móstoles (Madrid), o Villa del Prado (Valladolid), nos avalan como ejemplo del trabajo bien hecho.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-md-push-4">

            <p>En la construcción y mantenimiento de parques y jardines tenemos como prioridad ofrecer un servicio profesional y respetuoso con el medio, creando espacios donde la integración con el entorno es máxima y que generan calidad de vida.</p>
            <p>Nuestro esfuerzo y experiencia en obra pública y privada así como en servicios de jardinería está avalada por <strong>la más alta clasificación como empresa contratista del Estado</strong>.</p>
            <a href="calidad-medio-ambiente.html"><p class="boton-seccion">Certificados de calidad ></p></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-md-pull-4">

            <p>Participamos de forma activa en la <strong>conservación del paisaje natural y el control de la erosión y la desertificación</strong> a través de actuaciones de restauración y conservación paisajística.</p>
            <ul>
                <li>Somos especialistas en la técnica de la <a href="#hidrosiembra">hidrosiembra</a>,  utilizada para la conservación del suelo y para la estabilización de laderas en grandes obras.</li>
                <li>Utilizamos las técnicas más avanzadas en jardinería, estudiando cada obra para conseguir una perfecta adaptación de la planta al medio.</li>
            </ul>

        </div>
    </div>

    <div class="hidrosiembra">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 id="hidrosiembra">¿Qué es la hidrosiembra?</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <p>La hidrosiembra es una técnica de restauración del paisaje, creación de suelo y revegetación. Está indicada para la recuperación de grandes superficies de elevada pendiente, terrenos poco consolidados y espacios inaccesibles para maquinaria convencional, terrenos en su mayoría desmineralizados.</p>
                <p>Consiste en la proyección en el terreno a tratar mediante cañón, de una mezcla homogénea de agua, semilla, estabilizantes de suelos, fijadores, fertilizantes orgánicos e inorgánicos y mulch. Será el camión-hidrosembradora el encargado de la realización de esta técnica que consta de una cuba capaz de homogeneizar la mezcla en el interior mediante bastidores y una bomba que la proyecta a través de un cañón a gran presión al lugar de aplicación.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <p>La técnica de la hidrosiembra nace de sembrar precisamente aquellas zonas que no son accesibles a la siembra convencional, evitando labores en el terreno; así como un reparto homogéneo de la semilla y rapidez en la aplicación.</p>
              <p>El objetivo de la hidrosiembra es el control y la prevención de la erosión del paisaje, ya que se consigue la estabilización del terreno favoreciendo la revegetación.</p>
              <p>La hidrosiembra germina a los pocos días siempre que las condiciones climatológicas no sean adversas. La humedad del terreno es fundamental, con lo que deberá realizarse en otoño (época idónea) o primavera.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <p>Cuando el talud tiene una pendiente fuerte se deben utilizar medios que revistan el talud y sujeten la mezcla y el suelo, como mallas o redes.</p>
              <img class="w100" src="img/hidrosiembra.jpg">
            </div>
        </div>
    </div>

</section>

{% endblock %}
