{% extends 'layout/layout.html' %}

{% block content %}

<section id="portada">

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 obras">

              {% for obra in obras %}
              <div class="obra big">
                <img src="{{ obra.imagenPrincipal }}">
                <div>
                  <h3>{{ obra.name }}</h3>
                  <p class="desc">{{ obra.description }}</p>
                  <p class="boton-seccion">Ver obra ></p>
                </div>
              </div>
              {% endfor %}

            </div>

        </div>
    </div>

</section>

<section class="container parrafos mostrar-galeria">

    {% for obra in obras %}
    <div class="row mostrar">
        <div class="col-lg-4 col-md-4 galeria">
            <h1>{{ obra.name }}</h1>
            <p>{{ obra.description }}</p>
            {% for image in obra.images %}
            <div>
                <img src="{{ image.thumbnail }}" class="mini" data-foto="{{ image.img }}">
                <div class="mini-maximize"></div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-8 col-md-8 obragrande">
            <img class="fotogrande">
            <div>
                <div class="bbb"></div>
            </div>
        </div>
    </div>
    {% endfor %}

</section>

{% endblock %}
